[Desktop Entry]
Name=Ghoti RPG
GenericName=Ghoti RPG
Exec=GhotiRPGDesktop
Terminal=false
Icon=ghoti-rpg
Type=Application
Categories=X-Games;
Comment=A RPG made in dedication to the RPG's of my childhood
